#Gerber plots. Need to make them because OSHPark doesn't accept Kicad 6 boards yet
gerbers/

#Kicad backups
*-backups/

#Kicad caches
*-cache

#Local project settings, don't need to be checked in
*.kicad_prl  

#clion build stuff
teensy/cmake-build-debug/

kicad/rollercoasterometer.csv

kicad/rollercoasterometer.xml

*.zip
*.FCStd1

